@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #025373 url(/img/Image1.jpg) no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

.container.grow {
    animation: grow 3s linear forwards;
}

.container h2 {
    z-index: 1;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00628F;
    border-radius: 50%;
    z-index: -1;
}

.gradient-circle {
    background: conic-gradient(#20C5E8 0%, #20C5E8 40%, #fff 40%, #fff 60%, #2297F2 60%, #2297F2 100%);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
}

.dot-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear infinite;
    transform-origin: bottom center;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #00628F;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin: 0 5px;
}

button:focus,
input:focus {
    outline: 0;
}

.settings-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.settings-container {
    position: absolute;
    left: -100%;
    bottom: 75px;
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #00628F;
    border-radius: 10px;
    border: 1px solid white;
    transition: .3s;
}

.settings-container.show {
    left: 25px;
}

.settings-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings-container input {
    margin-top: 5px;
    padding: 5px;
    width: 55px;
    text-align: right;
}

.settings-container button {
    background-color: #013D61;
    transition: .3s;
}

.settings-container button:hover {
    background-color: white;
    color: #013D61;
}